@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<!-- COPY THIS HTML CODE AND PASTE BELOW OF THE SECTION F4_Zone100 ON MASTER TEMPLATE -->

<div class="row">
	<div class="col-sm-4">
		<img src="media/1011/Thomas_start.png" class="pull-left visible-md visible-lg" width="239px" align="middle">
	</div>
	<div class="col-sm-4">
		<h4>Behöver ni hjälp?</h4>
		<h3 style="margin-top:-5px;">Söker ni efter en IT-leverantör som tar ansvar och levererar?</h3>
		<p>Kontakta Thomas Skott, VD, så hjälper han er.</p>
		<a class="btn btn-primary" href="mailto:thomas.skott@regent.se" target="_top">Skicka meddelande</a>
	</div>
	<div class="col-sm-4">
		<h4>Söker du jobb?</h4>
		<h3 style="margin-top:-5px;">Börja hos oss</h3>
		<p>Vi är alltid intresserade av kompetenta människor. Kontakta oss så kan vi berätta mer.</p>
		<a class="btn btn-primary" href="/jobba-hos-oss">Sök jobb</a>
	</div>
</div>

<!-- SECTION F4_Zone100 END -->