@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<!-- COPY THIS HTML CODE AND PASTE BELOW OF THE SECTION SocialZone ON MASTER TEMPLATE -->

	<a target="_blank" data-toggle="tooltip" data-placement="bottom" style="color:#354e99" title="Facebook" href="#"><span class="fa-stack">
		<i class="fa fa-circle fa-stack-2x"></i>
		<i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
	</span></a>
	<a target="_blank" data-toggle="tooltip" data-placement="bottom" style="color:#00a9e3" title="Twitter" href="#"><span class="fa-stack">
		<i class="fa fa-circle fa-stack-2x"></i>
		<i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
	</span></a>
	<a target="_blank" data-toggle="tooltip" data-placement="bottom" style="color:#d3492c" title="Google+" href="#"><span class="fa-stack">
		<i class="fa fa-circle fa-stack-2x"></i>
		<i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
	</span></a>
	<a target="_blank" data-toggle="tooltip" data-placement="bottom" style="color:#eb2429" title="YouTube" href="#"><span class="fa-stack">
		<i class="fa fa-circle fa-stack-2x"></i>
		<i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
	</span></a>
	<a target="_blank" data-toggle="tooltip" data-placement="bottom" style="color:#df0202" title="Pinterest" href="#"><span class="fa-stack">
		<i class="fa fa-circle fa-stack-2x"></i>
		<i class="fa fa-pinterest fa-stack-1x fa-inverse"></i>
	</span></a>

<!-- SECTION SocialZone END -->