@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<!-- COPY THIS HTML CODE AND PASTE BELOW OF THE SECTION BannerZone ON MASTER TEMPLATE -->

<div id="MyCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#MyCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#MyCarousel" data-slide-to="1" class=""></li>
      <li data-target="#MyCarousel" data-slide-to="2" class=""></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="media/1002/busoriginal_h315.png" alt="Förbättra din process">
        <div class="carousel-caption">
        	<h2 class="light">Deliver on time</h2>
        	<h6 class="light">Förbättra din process</h6>
			<p class="hidden-xs"><a href="/kontakta-oss" class="btn btn-lg light">Kontakta oss</a></p>
			<p class="visible-xs"><a href="/kontakta-oss" class="btn btn-sm light">Kontakta oss</a></p>
        </div>
      </div>
	  <div class="item">
        <img src="media/1015/getbigthumbnail.jpg" alt="Making things work">
        <div class="carousel-caption" style="right:30%">
        	<h6 class="light">Högre kvalité</h6>
        	<h2 class="light">Making things work</h2>
			<p class="hidden-xs"><a href="/kontakta-oss" class="btn btn-lg light">Kontakta oss</a></p>
			<p class="visible-xs"><a href="/kontakta-oss" class="btn btn-sm light">Kontakta oss</a></p>
        </div>
      </div>
	  <div class="item">
        <img src="media/1018/tied_with_rope.png" alt="Vi finner lösningar">
        <div class="carousel-caption" style="top:35%">
        	<h6 class="light">Vi finner lösningar</h6>
        	<h2 class="light">Don&#39;t get stuck</h2>
			<p class="hidden-xs"><a href="/kontakta-oss" class="btn btn-lg light">Kontakta oss</a></p>
			<p class="visible-xs"><a href="/kontakta-oss" class="btn btn-sm light">Kontakta oss</a></p>
        </div>
      </div>
	<!--
      <div class="item">
        <img src="media/1018/Logo_reinventit.png" alt="">
        <div class="carousel-caption">
        	<h6 class="light">BindTuning Engine</h6>
        	<h2 class="light">Custom themes<br>
        	delivered to you in minutes</h2>
			<p class="hidden-xs"><a class="btn btn-lg light">Learn more</a></p>
			<p class="visible-xs"><a class="btn btn-sm light">Learn more</a></p>
        </div>
      </div>
				-->
    </div>
        
    <!-- Controls -->
    <a class="left carousel-control" href="#MyCarousel" data-slide="prev"></a>
    <a class="right carousel-control" href="#MyCarousel" data-slide="next"></a>
</div>

<!-- SECTION BannerZone END -->