@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
	

		
<!-- COPY THIS HTML CODE TO THE PAGE CONTENT -->

<div class="row">
	<div class="col-md-3">
		<center>
		<h3><a href="/puffar"><i class="fa fa-refresh fa-rounded"></i><br>Agilt</a></h3>
		<p>Vi lever som vi lär. Se hur vi använder ett agilt tänkande i hela Regent.</p>
		</center>
	</div>
	<div class="col-md-3">
		<center>
		<h3><a href="/puffar"><i class="fa fa-group fa-rounded"></i><br>Team</a></h3>
		<p>Helheten är större än delarna. Så här tänker vi om att arbeta i team.</p>
		</center>
	</div>
	<div class="col-md-3">
		<center>
		<h3><a href="/puffar"><i class="fa fa-star fa-rounded"></i><br>Strategi</a></h3>
		<p>Vi strävar efter att bli bättre. Läs om hur våra strategier genomsyrar vårt arbete.</p>
		</center>
	</div>
	<div class="col-md-3">
		<center>
		<h3><a href="/puffar"><i class="fa fa-magic fa-rounded"></i><br>Nytänkande</a></h3>
		<p>Det finns alltid ett nytt sätt att angripa ett problem. Vi vågar tänka nytt.</p>
		</center>
	</div>
</div>

<p>&nbsp;</p>

<hr class="half-rule">



<!-- PAGE CONTENT END -->