<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT Textpage ANY>
<!ATTLIST Textpage id ID #REQUIRED>
<!ELEMENT Event ANY>
<!ATTLIST Event id ID #REQUIRED>
<!ELEMENT EventsCalendar ANY>
<!ATTLIST EventsCalendar id ID #REQUIRED>
<!ELEMENT umbHomePage ANY>
<!ATTLIST umbHomePage id ID #REQUIRED>
<!ELEMENT Homepage ANY>
<!ATTLIST Homepage id ID #REQUIRED>
<!ELEMENT umbMaster ANY>
<!ATTLIST umbMaster id ID #REQUIRED>
<!ELEMENT Meta ANY>
<!ATTLIST Meta id ID #REQUIRED>
<!ELEMENT NewsArea ANY>
<!ATTLIST NewsArea id ID #REQUIRED>
<!ELEMENT NewsItem ANY>
<!ATTLIST NewsItem id ID #REQUIRED>
<!ELEMENT umbNewsItem ANY>
<!ATTLIST umbNewsItem id ID #REQUIRED>
<!ELEMENT umbNewsOverview ANY>
<!ATTLIST umbNewsOverview id ID #REQUIRED>
<!ELEMENT umbTextPage ANY>
<!ATTLIST umbTextPage id ID #REQUIRED>

]>
<root id="-1">
  <umbHomePage id="1086" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2015-08-05T16:54:49" updateDate="2015-08-05T18:55:28" nodeName="Hem" urlName="hem" path="-1,1086" isDoc="" nodeType="1079" creatorName="Gabriella" writerName="Gabriella" writerID="0" template="1066" nodeTypeAlias="umbHomePage">
    <umbracoNaviHide>0</umbracoNaviHide>
    <title><![CDATA[Regent AB - Make things work]]></title>
    <facebookLink><![CDATA[http://facebook.com/regent]]></facebookLink>
    <twitterLink><![CDATA[http://twitter.com/regent]]></twitterLink>
    <rssLink><![CDATA[http://feeds.feedburner.com/regent]]></rssLink>
    <linkedInLink><![CDATA[http://linkedin.com/regent]]></linkedInLink>
    <googleLink><![CDATA[https://google.com/+Regent]]></googleLink>
    <hideBanner>0</hideBanner>
    <bannerLink>1090</bannerLink>
    <siteName><![CDATA[Regent]]></siteName>
    <byline><![CDATA[Make things work]]></byline>
    <copyright><![CDATA[Regent]]></copyright>
    <umbTextPage id="1087" parentID="1086" level="2" creatorID="0" sortOrder="0" createDate="2015-08-05T16:56:47" updateDate="2015-08-05T19:03:13" nodeName="Om oss" urlName="om-oss" path="-1,1086,1087" isDoc="" nodeType="1076" creatorName="Gabriella" writerName="Gabriella" writerID="0" template="1085" nodeTypeAlias="umbTextPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <title><![CDATA[Om oss]]></title>
      <featuredPage>0</featuredPage>
      <image><![CDATA[/media/1024/om_oss.png]]></image>
      <bodyText><![CDATA[<p> </p>
<p>Regent är ett alternativ till resurskonsulter, där vi tillsammans levererar större värde än vad enskilda resurser själva kan leverera. Att leverera just värde är något som genomsyrar bolaget i allt från kompetensutveckling och teknikval till affärsmodeller och bolagsstruktur.</p>
<p>För att leverera värde så har vi en medveten strategi att rekrytera personal som kompletterar varandra. Vårt specialområde är hela åtaganden oavsett om detta handlar om projekt eller förvaltning. Därför har vi medarbetare inom alla roller såsom utveckling, test, krav, arkitektur och projektledning. Vi strävar även efter jämn spridning bland andra faktorer såsom ålder och kön, detta av den enkla anledningen att vi finns där för att komplettera varandra och jobba som team, snarare än att ha en grupp experter inom ett nischat område där alla kan exakt samma sak. Det vi däremot har gemensamt är tekniken vi använder och metodiken vi arbetar utifrån.</p>
<p>Team är en av de viktigaste faktorerna i alla åtaganden, därför har vi delat in våra konsulter i team istället för grupper utifrån kompetensområden. Vi anser att den traditionella bolagsstrukturen där testare, utvecklare, projektledare osv har sina egna grupperingar skapar stuprör där varje gruppering suboptimeras. I ett team gäller det att varje medlem skapar värde åt den som ska konsumera resultatet, exempelvis skriver kravanalytikerna krav anpassade för utvecklarna som dessutom innehåller acceptanskriterier avsedda för testarna. För att få in denna teamkänsla på ett naturligt sätt har vi baserat bolagsstrukturen utifrån team, med sju personer i varje grupp och representater ifrån samtliga kompetensområden.</p>
<p>Vi driver teamarbetet med större fokus än något annat konsultbolag, förutom att själva bolaget är teamindelat så bedriver vi även kompetensutveckling utifrån teamen. Kunskap erhålles genom praktiskt arbete så därför driver vi interna projekt i utbildningssyfte med de senaste teknikerna. Vårt fokus på teamen gör att när vi tar oss an ett nytt åtagande så har vi team redo som tillsammans vet hur de ska arbeta agilt och metodiskt samt vilka teknikval vi använder oss av. Där andra konsultbolag plockar in enskilda resurser från olika håll som inte alls är eniga i vad eller hur saker ska göras, så levererar vi istället ett sammansvetsat team redo att leverera från dag ett.</p>
<p>Vår största utmaning inom Regent är att våra kunder ibland har svårt att förstå vikten av väl fungerande team. Särskilt större organisationer räknar hellre antalet personer och timpriser snarare än resultatet de levererar. Därför blir outsourcing en allt större konkurrent då sådana företag vanligtvis har lägre arvoden än svenska konsulter. Vår utmaning ligger därför i att förmedla vinsterna med att välja Regent. Att hög kvalitet faktiskt leder till lägre kostnad eller att handfull personer kan leverera mer än vad en hel utvecklingsavdelning kan göra. Inom Regent har vi förstått detta och erbjuder därför olika betalningslösningar för att överbrygga dessa problem, fastpris och resultatbaserad ersättning är något vi erbjuder som bevis på att det är värde vi fokuserar på snarare än antalet konsulter multiplicerat med uppdragslängden.</p>]]></bodyText>
    </umbTextPage>
    <umbTextPage id="1088" parentID="1086" level="2" creatorID="0" sortOrder="1" createDate="2015-08-05T16:57:24" updateDate="2015-08-05T19:04:12" nodeName="Vårt erbjudande" urlName="vaart-erbjudande" path="-1,1086,1088" isDoc="" nodeType="1076" creatorName="Gabriella" writerName="Gabriella" writerID="0" template="1085" nodeTypeAlias="umbTextPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <title><![CDATA[Vårt erbjudande]]></title>
      <featuredPage>0</featuredPage>
      <image><![CDATA[/media/1025/erbjudande2.png]]></image>
      <bodyText><![CDATA[<p> </p>
<p>Hela bolagsstrukturen, visionen och målet med Regent är att leverera hela åtaganden, detta oavsett om det handlar om projekt eller förvaltning. När vi bygger system i projektform är vi medvetna om att denna fas endast motsvarar några procent av produktens livslängd. Därför har vi arbetssätt som gör att vi bygger system så att de blir förvaltningsbara, för att därmed också hjälpa kunden med förvaltningen efter projektavslut.</p>
<p>Många av våra konkurrenter ser inte tiden efter projektfasen, den del som faktiskt motsvarar största delen av arbetet. Vi gör tvärtom, vi bygger system med målet att ta hand om förvaltningen. Inte bara idag, utan många år framåt, till den dag i framtiden då det är dags att bygga om systemet igen.</p>
<h3>Projekt</h3>
<p>När vi bygger ett system så är det aldrig en enskild individ som gör det. Andra medarbetare inom Regent som inte är direkta projektmedlemmar får alltid gå in med externa ögon och granska systemet, hela vägen från kodnivå till projektmetodik och ledning. Detta arbetssätt är vanligt inom exempelvis byggbranschen och är något som vi inom Regent har förstått värdet av. Tillsammans lyfter vi varandra och ger ett bättre resultat till våra kunder.</p>
<p>Något som är gemensamt i alla våra projekt är det agila arbetssättet och vår lyhördhet för kundens behov. Vi lägger även stor vikt på användbarhet och en tilltalande grafisk design.</p>
<h3>Proaktiv förvaltning</h3>
<p>När det gäller förvaltning så har vi valt att kalla vårt erbjudande för ”proaktiv förvaltning” eftersom vi är en aktivt drivande part i förvaltningsarbetet. När något blir fel så räcker det inte med att bara rätta felet genom någon manuell handpåläggning i databasen. I en proaktiv förvaltning så vill vi aktivt analysera de svaga områdena som finns och åtgärda felen innan de inträffar, och när de väl inträffar så genomför vi ett grundläggande rättningsarbete som medför att felet aldrig inträffar igen.</p>
<p>Det finns många olika förvaltningsmodeller, när vi bygger system själva tillämpar vi redan från projektfasen något som kallas continuous integration. Detta är en princip som möjliggör snabba releaser och ett agilt arbetssätt även under förvaltningsarbetet. Vi lanserar med fördel buggrättningar och förvaltningsreleaser flera gånger i veckan. När vi tar över förvaltningen av befintliga system finns det däremot en historik att förhålla sig till. Där har vi stor erfarenhet inom alla de större förvaltningsmodellerna såsom pm<sup>3</sup> och Itil. Men om kunden så önskar kan vi modernisera förvaltningsarbetet och gå mot en mer lättviktig förvaltning som möjliggör snabbare anpassningar efter verksamhetens behov.</p>]]></bodyText>
    </umbTextPage>
    <umbTextPage id="1089" parentID="1086" level="2" creatorID="0" sortOrder="2" createDate="2015-08-05T16:58:25" updateDate="2015-08-06T11:05:23" nodeName="Jobba hos oss" urlName="jobba-hos-oss" path="-1,1086,1089" isDoc="" nodeType="1076" creatorName="Gabriella" writerName="Gabriella" writerID="0" template="1085" nodeTypeAlias="umbTextPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <title><![CDATA[Jobba hos oss]]></title>
      <featuredPage>0</featuredPage>
      <image><![CDATA[/media/1029/jobba_hos_oss.png]]></image>
      <bodyText><![CDATA[<p> </p>
<p>Vill du vara en av Regent? Vi erbjuder kreativitet, en ledning som lyssnar på dig och en plats i en verksamhet som bygger på delaktighet i ett team, både socialt och kompetensmässigt. </p>
<p>De kompetenser vi söker efter är alla delar i ett team fokuserat på att leverera värde.</p>
<p>Test, .NET, mobilt,  krav, användbarhet, design, web, projektledning, continuous deployment, databas, metodik, informationshantering.</p>
<p>Och har du någon annan kompetens än de vi listat som du tror vi kan behöva så hör av dig ändå. Vi är alltid redo för förändring.</p>
<p>Låter det kul?</p>
<p>Skicka in din cv <a href="mailto:thomas.skott@regent.se" target="_top">här</a>!</p>
<p> </p>
<p><em>Underkonsulter</em></p>
<p>Vi kommer aldrig bli en konsultmäklare, men vi tar då och då in underkonsulter för att täcka upp med kompetens i våra uppdrag. De underkonsulter vi väljer att arbeta med ser vi som långsiktiga partners och som en del av vår verksamhet.</p>
<p>Är du underkonsult och vill bli en del av Regent.</p>
<p>Skicka in din cv <a href="mailto:thomas.skott@regent.se" target="_top">här</a>!</p>
<p> </p>]]></bodyText>
    </umbTextPage>
    <umbTextPage id="1090" parentID="1086" level="2" creatorID="0" sortOrder="3" createDate="2015-08-05T16:59:10" updateDate="2015-08-06T11:27:23" nodeName="Kontakta oss" urlName="kontakta-oss" path="-1,1086,1090" isDoc="" nodeType="1076" creatorName="Gabriella" writerName="Gabriella" writerID="0" template="1085" nodeTypeAlias="umbTextPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <title><![CDATA[Kontakta oss]]></title>
      <featuredPage>0</featuredPage>
      <image><![CDATA[/media/1032/kontakta_oss.png]]></image>
      <bodyText><![CDATA[<p> </p>
<p>Vi arbetar kontinuerligt på att bli mer agila, bättre på att jobba i team och våra strategier för att leverera åtaganden bättre än våra konkurrenter.</p>
<p>Behöver ni en partner som ser till era behov och som är flexibel, fokuserar på lösningar och samarbete så hoppas vi bli ert första val.</p>
<p><br />Thomas Skott, VD<br /><a href="mailto:thomas.skott@regent.se">thomas.skott@regent.se</a><br />+46 73 074 03 01</p>
<p>Patrik Nordebring, marknads- och säljansvarig<br /><a href="mailto:patrik.nordebring@regent.se">patrik.nordebring@regent.se</a><br />+46 73 074 00 08</p>
<p>Kai Sevelin, personal- och kompetensansvarig<br /><a href="mailto:kai.sevelin@regent.se">kai.sevelin@regent.se</a><br />+46 73 544 75 32</p>
<p> </p>
<p> </p>
<p> </p>
<p> </p>
<p> </p>]]></bodyText>
      <umbTextPage id="1092" parentID="1090" level="3" creatorID="0" sortOrder="0" createDate="2015-08-05T17:01:49" updateDate="2015-08-06T11:01:48" nodeName="Hitta hit" urlName="hitta-hit" path="-1,1086,1090,1092" isDoc="" nodeType="1076" creatorName="Gabriella" writerName="Gabriella" writerID="0" template="1085" nodeTypeAlias="umbTextPage">
        <umbracoNaviHide>0</umbracoNaviHide>
        <featuredPage>0</featuredPage>
        <image><![CDATA[/media/1028/karta_regent.png]]></image>
        <bodyText><![CDATA[<p>Regent AB<br />c/o Moretime<br />Drottninggatan 95A<br />113 60 Stockholm</p>]]></bodyText>
      </umbTextPage>
    </umbTextPage>
    <umbNewsOverview id="1091" parentID="1086" level="2" creatorID="0" sortOrder="4" createDate="2015-08-05T17:00:19" updateDate="2015-08-05T17:00:19" nodeName="Aktuellt" urlName="aktuellt" path="-1,1086,1091" isDoc="" nodeType="1077" creatorName="Gabriella" writerName="Gabriella" writerID="0" template="1084" nodeTypeAlias="umbNewsOverview">
      <umbracoNaviHide>0</umbracoNaviHide>
      <title><![CDATA[Aktuellt]]></title>
      <umbNewsItem id="1093" parentID="1091" level="3" creatorID="0" sortOrder="0" createDate="2015-08-05T17:08:09" updateDate="2015-08-06T11:11:19" nodeName="Regent växer" urlName="regent-vaexer" path="-1,1086,1091,1093" isDoc="" nodeType="1078" creatorName="Gabriella" writerName="Gabriella" writerID="0" template="1083" nodeTypeAlias="umbNewsItem">
        <umbracoNaviHide>0</umbracoNaviHide>
        <title><![CDATA[Regent växer]]></title>
        <image><![CDATA[/media/1031/regent_vaexer.png]]></image>
        <subheader><![CDATA[Nya anställda]]></subheader>
        <bodyText><![CDATA[<p> </p>
<p>Regent startade sin verksamhet i Juli 2014 och har redan 15 anställda. Regent söker ständigt efter nya duktiga medarbetare. Medarbetarna är det viktigaste vi har och den känslan vill vi också förmedla.</p>
<p> </p>
<p> </p>]]></bodyText>
      </umbNewsItem>
    </umbNewsOverview>
    <umbTextPage id="1094" parentID="1086" level="2" creatorID="0" sortOrder="5" createDate="2015-08-05T17:09:12" updateDate="2015-08-06T11:07:11" nodeName="Puffar" urlName="puffar" path="-1,1086,1094" isDoc="" nodeType="1076" creatorName="Gabriella" writerName="Gabriella" writerID="0" template="1085" nodeTypeAlias="umbTextPage">
      <umbracoNaviHide>1</umbracoNaviHide>
      <title><![CDATA[Fokusområden]]></title>
      <featuredPage>0</featuredPage>
      <bodyText><![CDATA[<p><strong>Agilt</strong></p>
<p>Vi arbetar och tänker agilt. För oss är det naturligt med ett agilt tillvägagångssätt när vi hjälper våra kunder att bli bättre i det de gör. För oss är det dessutom naturligt att hela Regent drivs agilt och det gör vi. Vi lever som vi lär. Våra styrelsemöten handlar om att stänga en sprint. Vi är agila mot vår personal.</p>
<p>Agilitet för oss innebär att vi kan vara lite snabbare än andra bolag, lite mer flexibla och att vi ständigt försöker leverera värde. Vi har kunskapen och erfarenheten i allt från SAFe till Scrum.</p>
<p> </p>
<p><strong>Team</strong></p>
<p>Helheten är större än delarna. Om vi har en testare, en utvecklare och en kravanalytiker som jobbar var för sig så spelar det inte så stor roll hur duktiga de är, resultatet kommer inte bli så bra ändå.</p>
<p>Om man däremot levererar ett sammansvetsat team med samma människor blir resultatet ett helt annat  ett team där allting hänger ihop.</p>
<p>Där krav omvandlas till utveckling som i sin tur omvandlas till test. Där kravanalytikern hela tiden ligger ett steg före och ser till att utvecklaren har arbetsuppgifter.  Där det vi kan åstadkomma blir så mycket mer än med enskilda individer.</p>
<p>Teamtänkandet är centralt i Regent och det gör att vi lägger ner mer energi på kompetensutveckling i team än de flesta andra bolag. Om vi lär oss att jobba bättre ihop så levererar vi snabbare och med bättre kvalitet.</p>
<p> </p>
<p><strong>Strategi</strong></p>
<p>Alla goda idéer faller platt om ingen driver dem. För att se till att vi hela tiden strävar efter att bli bättre så använder vi oss av och utvecklar en modell som heter Regentmodellen.</p>
<p>Att inte upprepa misstag och att hela tiden nå ett litet snäpp längre kräver en lärande organisation. Genom retrospektiv och ett kontinuerligt förbättringsarbete strävar vi hela tiden efter att bli bättre. Det gäller att få nöjda kunder, nöjd personal, en effektiv verksamhet och ett effektivt sätt att jobba i projektform. Löpande ser vi också till att hålla kunden informerad om status.</p>
<p>Vi försöker standardisera vilka verktyg, projektformer och arkitekturer vi arbetar med så att vi blir bättre och bättre på det vi arbetar med.</p>
<p> </p>
<p><strong>Nytänkande</strong></p>
<p>När vi startade Regent så var det med en insikt att det finns stora förbättringsmöjligheter bara vi vågar tänka nytt och inte bara göra som alla andra. Den nyfikenheten och kreativiteten fostrar vi inom företaget, både bland anställda och inom ledningen. Vi försöker hela tiden ifrågasätta invanda arbetssätt och rutiner och se om det går att göra det bättre.</p>
<ul>
<li>Genom att driva företaget i agilt format har vi fått en snabbare organisation och mer kontroll över vad som behöver utföras i varje läge.</li>
<li>Genom att driva kompetensutvecklingen i team-form får vi en effektivare inlärning och mer sammansvetsade team.</li>
<li>Genom att vi tar upp lösningsarkitekturer på företagsnivå får vi säkrare leveranser och enklare att återupprepa goda resultat.</li>
<li>Genom att vara proaktiva mot kunderna och hela tiden fundera på om det finns något vi kan göra som skulle gynna kundens verksamhet levererar vi ett större värde.</li>
</ul>
<p>Inga av våra regler eller strategier är huggna i sten. Ett agilt förhållningssätt kräver öppna ögon.</p>]]></bodyText>
    </umbTextPage>
  </umbHomePage>
</root>